<!DOCTYPE html> // ejs server side rendering
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="fileImage" id="fileinp">
            <button>Upload</button>
        </form>
      
    </div>
    
    <script>
        const fileInput = document.getElementById('fileinp');
        fileInput.addEventListener('change', (e) => {
            const file = e.target.files[0];
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onloadend = () => {
                const img = document.createElement('img');
                img.src = reader.result;
                document.body.appendChild(img);
            };
        });
    </script>   
</body>
</html>
